[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "automatedtests"]
	path = automatedtests
	url = https://github.com/wouterzeevat/automatedtests
